<!-- Футер -->
<footer class="site-footer">
  <div class="container footer-wrap">
    <div class="footer-descript">
      <h3 class="footer-descript__title title-four">About Homeville</h3>
      <p class="footer-descript__text p-small">Our 40 years of community association and property management experience have taught us that exceptional service helps communities succeed.</p>
      <div class="footer-soc-links soc-links">
        <a href="#/"><i class="fab fa-facebook-f"></i></a>
        <a href="#/"><i class="fab fa-twitter"></i></a>
        <a href="#/"><i class="fab fa-google-plus-g"></i></a>
      </div>
    </div>
    <div class="footer-item-box">
      <div class="footer-item">
        <h3 class="footer-item__title title-four">Upcoming Events</h3>
        <a href="#/" class="footer-item__link">Friday BBQ</a>
        <a href="#/" class="footer-item__link">Karaoke</a>
        <a href="#/" class="footer-item__link">Morning Yoga</a>
      </div>
      <div class="footer-item">
        <h3 class="footer-item__title title-four">Our People</h3>
        <a href="#/" class="footer-item__link">Mayor</a>
        <a href="#/" class="footer-item__link">Association Manager</a>
        <a href="#/" class="footer-item__link">Tax Administrator</a>
      </div>
      <div class="footer-item">
        <h3 class="footer-item__title title-four">Documents</h3>
        <a href="#/" class="footer-item__link">Articles of Incorporation</a>
        <a href="#/" class="footer-item__link">Declaration of Covenants</a>
        <a href="#/" class="footer-item__link">By-laws</a>
      </div>
    </div>
  </div>
</footer>