<!-- главный экран -->
  
<section class="site-section main-screen">
  <div class="container main-screen-wrap">
    <div class="screen-soc-links">
      <a href="#/"><i class="fab fa-facebook-f"></i></a>
      <a href="#/"><i class="fab fa-twitter"></i></a>
      <a href="#/"><i class="fab fa-google-plus-g"></i></a>
    </div>
    <div class="screen-heading">
      <p class="screen-heading__par">Homeowner Association & Property Management</p>
      <h1 class="screen__title title-one">Community Success Begins with Homeville</h1>
      <a href="#/" class="screen-heading__link">About us ></a>
    </div>
  </div>
</section>
  
<!-- о сайте -->
  
<section class="site-section about">
  <div class="container about-wrap">
    <div class="about-heading">
      <p class="about-heading__top p-small">Municipal Homeowners Community</p>
      <h2 class="about-heading__title title-second h-color">We Make Our Neighborhood a Better Place for Living</h2>
      <div class="about-heading-text">
        <p class="about-heading__par p-normal">If you want your family and kids to live in a safe and comfortable place - Homeville is your one-stop destination.</p>
        <p class="about-heading__par p-small">The HOA specializes in nationwide property management and community management with a full suite of management, maintenance and real estate services for the community.</p>
      </div>
      <a href="#/" class="main-btn about-heading__btn">Read More ></a>
    </div>
    <div class="about-numbers">
      <div class="about-numbers-box">
        <div class="about-numbers-item">
          <p class="about-numbers-item__title title-one h-color">250+</p>
          <p class="about-numbers-item__text">PEOPLE</p>
        </div>
        <div class="about-numbers-item">
          <p class="about-numbers-item__title title-one h-color">25</p>
          <p class="about-numbers-item__text">ADDITIONAL PREMISES</p>
        </div>
        <div class="about-numbers-item">
          <p class="about-numbers-item__title title-one h-color">80</p>
          <p class="about-numbers-item__text">HOUSES</p>
        </div>
        <div class="about-numbers-item">
          <p class="about-numbers-item__title title-one h-color">15</p>
          <p class="about-numbers-item__text">YEARS</p>
        </div>
      </div>
    </div>
  </div>
</section>
  
<!-- картинка на бг -->
  
<section class="site-section backg-fixed">
</section>
  
<!-- сервисы -->
  
<section class="site-section services">
  <div class="container services-wrap">
    <div class="services-heading">
      <p class="services-heading__top p-small">Community advantages</p>
      <h2 class="services-heading__title title-second h-color">Welcome to the Homeville Association</h2>
      <p class="services-heading__par p-small">Homeville is a community of close to one hundred single-family homes located within walking distance of the local public school, theaters, restaurants and other amenities of the downtown.</p>
  </div>
  <div class="services-box">
    <div class="services-box-item">
      <a href="#/" class="services-box-item__title title-four">Community</a>
      <p class="services-box-item__txt p-small">Residents gather in several groups that meet to enjoy discussion and activities of mutual interest.</p>
    </div>
    <div class="services-box-item">
      <a href="#/" class="services-box-item__title title-four">Neighborhood</a>
      <p class="services-box-item__txt p-small">Interior homes front on wide sidewalks, not streets, and each house has, at a minimum, a double garage.</p>
    </div>
    <div class="services-box-item">
      <a href="#/" class="services-box-item__title title-four">Accessibility</a>
      <p class="services-box-item__txt p-small">Our community is a home to people of all ages and physical abilities. Strollers, wheelchairs can be easily used.</p>
    </div>
    <div class="services-box-item">
      <a href="#/" class="services-box-item__title title-four">Energy</a>
      <p class="services-box-item__txt p-small">Homes were constructed with photovoltaic panels and solar water heaters that are at street level.</p>
    </div>
  </div>
</section>
 
<!-- ссылки -->
  
<section class="site-section mainlinks">
  <div class="container mainlinks-wrap">
    <div class="mainlinks-item">
      <h3 class="mainlinks-item__title title-four">Upcoming Events</h3>
      <p class="mainlinks-item__text p-small">Find out more about the upcoming events and community meetings.</p>
      <a href="#/" class="mainlinks-item__link">Friday BBQ</a>
      <a href="#/" class="mainlinks-item__link">Karaoke</a>
      <a href="#/" class="mainlinks-item__link">Morning Yoga</a>
      <a href="#/" class="mainlinks-item__link">Monthly meeting</a>
    </div>
    <div class="mainlinks-item">
      <h3 class="mainlinks-item__title title-third">Our People</h3>
      <p class="mainlinks-item__text p-small">Find out more about the upcoming events and community meetings.</p>
      <a href="#/" class="mainlinks-item__link">Mayor</a>
      <a href="#/" class="mainlinks-item__link">Association Manager</a>
      <a href="#/" class="mainlinks-item__link">Tax Administrator</a>
      <a href="#/" class="mainlinks-item__link">Administrative Support</a>
    </div>
    <div class="mainlinks-item">
      <h3 class="mainlinks-item__title title-third">Documents</h3>
      <p class="mainlinks-item__text p-small">Find out more about the upcoming events and community meetings.</p>
      <a href="#/" class="mainlinks-item__link">Articles of Incorporation</a>
      <a href="#/" class="mainlinks-item__link">Declaration of Covenants</a>
      <a href="#/" class="mainlinks-item__link">Conditions and Restrictions (CC&Rs)</a>
      <a href="#/" class="mainlinks-item__link">By-laws</a>
    </div>
    <div class="mainlinks-item">
      <h3 class="mainlinks-item__title title-third">Projects</h3>
      <p class="mainlinks-item__text p-small">Find out more about the upcoming events and community meetings.</p>
      <a href="#/" class="mainlinks-item__link">Sports Club</a>
      <a href="#/" class="mainlinks-item__link">Flower Yard</a>
      <a href="#/" class="mainlinks-item__link">New Door phones</a>
      <a href="#/" class="mainlinks-item__link">Park Replanning</a>
    </div>
  </div>
</section>
  
<!-- Галерея -->
  
<section class="site-section gallery">
  <div class="container gallery-wrap">
    
    <div class="gallery-heading">
      <p class="gallery-heading__top p-small">Gallery</p>
      <h2 class="gallery-heading__title title-second h-color">See Pictures of Our Community</h2>
    </div>
    <div class="owl-carousel owl-theme gallery-carousel">
      <div class="gallery-box__item gallery-box__item--pic1"></div>
      <div class="gallery-box__item gallery-box__item--pic2"></div>
      <div class="gallery-box__item gallery-box__item--pic3"></div>
    </div>
    <a href="#/" class="main-btn main-btn--reverse">Show More ></a>
  </div>
</section>
  
<!-- Новости -->
  
<section class="site-section lastposts">
  <div class="container lastposts-wrap">
    <div class="lastposts-heading">
      <p class="lastposts-heading__top p-small">Latest News</p>
      <h2 class="lastposts-heading__title title-second h-color">Read more news about the life of our neighborhood</h2>
    </div>
    <div class="lastposts-box">
      <div class="lastposts-item">
        <img src="https://template66387.motopreview.com/mt-demo/66300/66387/mt-content/uploads/2018/02/mt-1359-home-img04.jpg" alt="" class="lastposts-item__pic">
        <a href="#/" class="lastposts-item__subscr">Clean Out Clutter Before You Move</a>
      </div>
      <div class="lastposts-item">
        <img src="https://template66387.motopreview.com/mt-demo/66300/66387/mt-content/uploads/2018/02/mt-1359-home-img05.jpg" alt="" class="lastposts-item__pic">
        <a href="#/" class="lastposts-item__subscr">Smart Ways to Make Your Home Eco-Friendly</a>
      </div>
      <div class="lastposts-item">
        <img src="https://template66387.motopreview.com/mt-demo/66300/66387/mt-content/uploads/2018/02/mt-1359-home-img06.jpg" alt="" class="lastposts-item__pic">
        <a href="#/" class="lastposts-item__subscr">Five Ways to Keep Your Home Safe</a>
      </div>
    </div>
  </div>
</section>